@charset "UTF-8";

/*Medias Queries*/

/*Media para Tablets*/

@media screen and (min-width:768px) and (max-width: 992px) {
    #phone{display: none;}
    #tablet{display: block;}
    #desktop{display: none;}
    #tv{display: none;}
    #impressora{display: none;}

    body{
    
        background: url('../imagens/back-tablet.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;
        background-attachment: fixed;
        
    }
    #main1{
        width: 600px;
    }
    
}
/*Media para Desktop*/

@media screen and (min-width: 992px) and (max-width:1200px) {

    #phone{display: none;}
    #tablet{display: none;}
    #desktop{display: block;}
    #tv{display: none;}
    #impressora{display: none;}

    body{
    
        background: url(../imagens/back-pc.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;
        background-attachment: fixed;
        
    }

    #main1{
        width: 700px;
    }  
}

/*Media para TVs*/

@media screen and (min-width: 1200px){

    #phone{display: none;}
    #tablet{display: none;}
    #desktop{display: none;}
    #tv{display: block;}
    #impressora{display: none;}

    body{
    
        background: url(../imagens/back-tv.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left center;
        background-attachment: fixed;
        
    }

    #main1{
        width: 900px;
    }

    #main1 > img{
        width: 40%;
    }
    
}