@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    background-color: darkgray;
    min-height: 100vh;
}
header{
    background-color: black;
    color: white;
    padding-top: 3em;
    font-variant: small-caps;
    text-align: center;
}
header > p{
    color: white;
    padding-bottom: 3em;
}
p > a{
    text-decoration: none;
    color: white;
}
p > a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 1.8em;
    line-height: 2.5em;
}
section.normal{
    background-color: white;
}

section.imagem1{
    background-image: url('imagens/background001.jpg');
    background-position: center;
    background-size: cover;
}
section.imagem1 p, section.imagem2 p{
    background-color: #35353594;
    width: 20em;
}

section.imagem2{
    background-image: url('imagens/background002.jpg');
    background-position: center;
    background-size: cover;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}
footer p{
    padding: 1em;
}

