@charset "UTF-8";


@media screen and (min-width: 768px){

    #burguer { 

        display: none;
    }

    header{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    ul{
        display: flex;
    }
    ul > li > a{
        margin: 5px;
        border-radius: 5px;
        border-top: none;
    }

    main{
        width: 768px;
    }
}